# SMTP Configuration for Email Sending
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM=noreply@pedrolucena.com

# API Configuration
NEXT_PUBLIC_API_URL=https://nutricaolandingpage.vercel.app

# Analytics
NEXT_PUBLIC_GA_ID=
